body {
  background-color:#d9d9d9;
  font-family: 'Open Sans',sans-serif;
}

a {
  color:grey;
}

img {
  background-color:black;
  float:left;
}

hr {
  border-top: 1px solid #8c8b8b;
}

hr.list {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #8c8b8b, rgba(0, 0, 0, 0));
}

.material {
  box-shadow: 0px 2px 8px black;
}

.material-sm {
  box-shadow: 0px 2px 4px black;
}

.sharp {
  border-radius:0px;
}

/* Navbar */
.mobile-navbar {
  background-color: #81CC68;
  border:0px;
}

#nav-brand {
  width: 111px;
  margin: 0px auto;
  transform:Scale(1.2);
  position: relative;
  top: 10px;
}

.glyphicon-picture {
  transform:Scale(2);
  margin: 5px;
}

.nav-link {
  text-align:center;
}

/* Mission Control Buttons */
#manager {
  width: 420px;
  background-color: white;
  margin: 0px auto;
}

#project-types {
  text-align:center;
  width:200px;
  background-color: #81CC68;
  float:left;
  margin: 10px 15px 20px 10px;
}

#project-types ul {
  list-style: none;
  padding: 0px;
}

#cats-head {
  font-size: 2em;
  color: white;
  text-shadow: 0.5px 0.5px black;
}

.param-item {
  width:95%;
  height:95%;
  border:1px solid #565656; 
  background-color: white;
  padding:10px;
  margin:4px auto;
}

.param-item:hover {
  transform: scale(1.04);
}

.param-item:active {
  transform: scale(1.00);
}

.param-holder {
  width:95%;
  height:60px;
  border:1px solid #565656; 
  background-color: white;
  padding:10px;
  margin:4px auto;
}


/* Entire Center Display */

#allProjects {
  width:100%;
  min-height:1000px;
  margin: 0px auto;
  position:relative;
  top:100px;
}

  /* Project List */
#project-types {
  text-align:center;
  width:200px;
  background-color:#81CC68;
  float:left;
  margin: 10px 15px 20px 10px;
}

#project-types ul {
  list-style: none;
  padding: 0px;
}

/* Target Project */
#target-project {
  background-color:white;
  width:95%;
  min-height:1000px;
  float:left;
  margin: 10px 15px 20px 10px;
}

#top-block {
  min-height:200px;
  width:100%;
  margin: 10px;
}

#top-block h1 {
  margin-top: 0px;
}

#top-content {
  margin-left:10px;
  float:left;
}

#img-craft {
  margin: 15px 50px;
}

#craft-stats {
  float: right;
  list-style:none;
  padding:0px;
}

#bottom-block {
  margin:10px;
}

#project-gallery {
  margin: 10px 10px 20px 10px;
  height: 150px;
  width: 95%;
  overflow: hidden;
}

.gallery-img {
  width:150px;
  height:150px;
  margin: 0px 5px;
}

/* Modal Forms*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


/* Project Form*/
.story-form {
  width: 500px;
  height: 550px;
  background-color:white;
  position:relative;
  margin: 0px auto;
  top:100px;
}


.form-group {
  text-align: center; 
  position: relative;
  top: 30px;
  margin-bottom: 0px;
}

input {
  margin-top: 5px;
}

textarea {
  margin-top: 10px;
}

.closeButton {
  width: 50px;
  height: 50px;
  position: absolute;
  top: -50px;
  left: 530px;
}


@media (min-width: 768px) and (max-width: 991px) {

/* Navbar */
#sidebar {
  width:200px;
  height:100%;
  background-color: #81CC68;
  position:fixed;
}

#nav-brand {
  width:130px;
  margin:0px auto;
  transform:Scale(1.5); 
  text-align:center;
  position: relative;
  top: 0px;
}

#nav-links{ 
  list-style: none;
  padding: 0px;
 }

.nav-link {
  text-align:center;
}

/* Mission Control Buttons */
#manager {
  width: 450px;
  background-color: white;
  position: relative;
  left: 80px;
  display: flex;
  justify-content: space-around;
}

#project-types {
  text-align:center;
  width:200px;
  background-color: #81CC68;
  float:left;
  margin: 10px 15px 20px 10px;
}

#project-types ul {
  list-style: none;
  padding: 0px;
}

#cats-head {
  font-size: 2em;
  color: white;
  text-shadow: 0.5px 0.5px black;
}

.param-item {
  width:95%;
  height:95%;
  border:1px solid #565656; 
  background-color: white;
  padding:10px;
  margin:4px auto;
}

.param-item:hover {
  transform: scale(1.04);
}

.param-item:active {
  transform: scale(1.00);
}

.param-holder {
  width:95%;
  height:60px;
  border:1px solid #565656; 
  background-color: white;
  padding:10px;
  margin:4px auto;
}
/* Target Project Wrapper */

#allProjects {
  width:70%;
  height:1000px;
  position:relative;
  margin: 0px;
  top:100px;
  left:220px;
}

/* Target Project */
#target-project {
  background-color:white;
  width:700px;
  height:1000px;
  float:left;
  margin: 10px 15px 20px 10px;
}

/* Image Gallery */
#project-gallery {
  margin: 10px 10px 20px 10px;
  height: 150px;
  width: 700px;
  overflow: hidden;
}

/* Modal Forms*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Project Form*/
.story-form {
  width: 500px;
  height: 550px;
  background-color:white;
  position:relative;
  margin: 0px auto;
  top:100px;
}

.form-group {
  text-align: center; 
  position: relative;
  top: 30px;
  margin-bottom: 0px;
}

input {
  margin-top: 5px;
}

textarea {
  margin-top: 10px;
}

.closeButton {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 5px;
  right: 5px;
}

fieldset {
  width:300px;
  display:flex;
  justify: space-around;
}

}

@media (min-width: 992px) and (max-width: 1199px) {

#sidebar {
  width:250px;
  height:100%;
  background-color: #81CC68;
  position:fixed;
}

#nav-brand {
  width:130px;
  margin:0px auto;
  transform:Scale(1.5); 
  text-align:center;
  position: relative;
  top: 0px;
}

#nav-links{ 
  list-style: none;
  padding: 0px;
 }

.nav-link {
  text-align:center;
}

/* Mission Control Buttons */
#manager {
  width: 475px;
  height: 75px;
  margin: 0px auto;
  background-color: white;
  display: flex;
  flex-direction: row;
}

#project-types {
  text-align:center;
  width:200px;
  background-color: #81CC68;
  float:left;
  margin: 10px 15px 20px 10px;
}

#project-types ul {
  list-style: none;
  padding: 0px;
}

#cats-head {
  font-size: 2em;
  color: white;
  text-shadow: 0.5px 0.5px black;
}

.param-item {
  width:95%;
  height:95%;
  border:1px solid #565656; 
  background-color: white;
  padding:10px;
  margin:4px auto;
}

.param-item:hover {
  transform: scale(1.04);
}

.param-item:active {
  transform: scale(1.00);
}

.param-holder {
  width:95%;
  height:60px;
  border:1px solid #565656; 
  background-color: white;
  padding:10px;
  margin:4px auto;
}

.btn-group {
  margin: 10px;
}

#allProjects {
  width:70%;
  height:1000px;
  position:relative;
  margin: 0px;
  top:100px;
  left:270px;
}

#project-types {
  text-align:center;
  width:200px;
  background-color:#81CC68;
  float:left;
  margin: 10px 15px 20px 10px;
}

#project-types ul {
  list-style: none;
  padding: 0px;
}


#target-project {
  background-color:white;
  width:100%;
  height:1000px;
  float:left;
  margin: 10px 15px 20px 10px;
}

#top-block {
  height:200px;
  width:100%;
  margin: 10px;
}

#top-block h1 {
  margin-top: 0px;
}

#top-content {
  margin-left:10px;
  float:left;
}

#img-craft {
  margin-bottom: 15px;
}

#bottom-block {
  margin:10px;
}

#project-gallery {
  margin: 10px 10px 20px 10px;
  height: 150px;
  width: 90%;
}

.gallery-img {
  width:150px;
  height:150px;
  margin: 0px 5px;
}


/* Modal Forms*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


/* Project Form*/
.story-form {
  width: 500px;
  height: 550px;
  background-color:white;
  position:relative;
  margin: 0px auto;
  top:100px;
}


.form-group {
  text-align: center; 
  position: relative;
  top: 30px;
  margin-bottom: 0px;
}

input {
  margin-top: 5px;
}

textarea {
  margin-top: 10px;
}

.closeButton {
  width: 50px;
  height: 50px;
  position: absolute;
  top: -50px;
  left: 530px;
}

fieldset {
  width:300px;
  display:flex;
  justify: space-around;
}

}


@media (min-width: 1200px) {

#sidebar {
  width:250px;
  height:100%;
  background-color: #81CC68;
  position:fixed;
}

#nav-brand {
  width:130px;
  margin:0px auto;
  transform:Scale(1.5); 
  text-align:center;
  position: relative;
  top: 0px;
}

#nav-links{ 
  list-style: none;
  padding: 0px;
 }

.nav-link {
  text-align:center;
}

/* Mission Control Buttons */
#manager {
  width: 475px;
  height: 75px;
  margin: 0px auto;
  background-color: white;
  display: flex;
  flex-direction: row;
}

#project-types {
  text-align:center;
  width:200px;
  background-color: #81CC68;
  float:left;
  margin: 10px 15px 20px 10px;
}

#project-types ul {
  list-style: none;
  padding: 0px;
}

#cats-head {
  font-size: 2em;
  color: white;
  text-shadow: 0.5px 0.5px black;
}

.param-item {
  width:95%;
  height:95%;
  border:1px solid #565656; 
  background-color: white;
  padding:10px;
  margin:4px auto;
}

.param-item:hover {
  transform: scale(1.04);
}

.param-item:active {
  transform: scale(1.00);
}

.param-holder {
  width:95%;
  height:60px;
  border:1px solid #565656; 
  background-color: white;
  padding:10px;
  margin:4px auto;
}

.btn-group {
  margin: 10px;
}

/* Main Center Display */
#allProjects {
  width:70%;
  height:1000px;
  position:relative;
  margin: 0px;
  top:100px;
  left:300px;
}

#project-types {
  text-align:center;
  width:200px;
  background-color:#81CC68;
  float:left;
  margin: 10px 15px 20px 10px;
}

#project-types ul {
  list-style: none;
  padding: 0px;
}


#target-project {
  background-color:white;
  width:80%;
  height:1000px;
  float:left;
  margin: 10px 15px 20px 10px;
}

#top-block {
  height:200px;
  width:100%;
  margin: 10px;
}

#top-block h1 {
  margin-top: 0px;
}

#top-content {
  margin-left:10px;
  float:left;
}

#img-craft {
  margin-bottom: 15px;
}

#bottom-block {
  margin:10px;
}

#project-gallery {
  margin: 10px 10px 20px 10px;
  height: 150px;
  width: 900px;
}

.gallery-img {
  width:150px;
  height:150px;
  margin: 0px 5px;
}

/* Modal Forms*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Project Form*/
.story-form {
  width: 500px;
  height: 550px;
  background-color:white;
  position:relative;
  margin: 0px auto;
  top:100px;
}

.form-group {
  text-align: center; 
  margin-bottom: 0px;
}

input {
  margin-top: 5px;
}

textarea {
  margin-top: 10px;
}

.closeButton {
  width: 50px;
  height: 50px;
  position: absolute;
  top: -50px;
  left: 550px;
}

/* Stats Box*/
.stats {
  width:450px;
  height: 130px;
  margin:10px auto;
  border: 1px solid gray;
  border-radius:4px;
  padding: 3px 0px 0px 7px;
}

.form-stats {
  width:100px;
  margin-top: 0px;
}

div.stats label {
  width:100px;
  margin:2px;
}

.stat-label {
  font-size:1.8em;
  position:relative;
  bottom:2px;
}

}



