<!DOCTYPE html>
<html>
<head>
	<title>New Project!</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> <!-- Bootstrap Main-->
	<link rel="stylesheet" type="text/css" href="./css/newuser.css"> <!-- Main CSS: Change with each new page!! -->
	<link href="https://fonts.googleapis.com/css?family=Cinzel|Righteous" rel="stylesheet"> <!-- Google Font-->
</head>
<body>
 <!-- Nav Bar -->

<!-- Mobile Navbar--> 
<nav class="navbar navbar-default visible-xs material mobile-navbar">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a href="#"><div id="nav-brand"><span>Game</span><span class="glyphicon glyphicon-picture"></span> <span>Stories</span></div></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav" id="nav-links">
        <li class="nav-link"><a href="./index.html">Home</a></li>
        <hr class="list" />
        <li class="nav-link"><a href="./newuser.html">My Program</a></li>         
        <hr class="list"/>
        <li class="nav-link"><a href="#">Featured</a></li>
        <hr class="list"/>
        <li class="nav-link"><a href="#">Categories</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



 <!-- Side Bar -->
 <div class="material hidden-xs" id="sidebar">
  <br />

  <a href="#"><div id="nav-brand"><span>Game</span><span class="glyphicon glyphicon-picture"></span> <span>Stories</span></div></a>
  <hr />
  <!-- Navbar Links-->
  <ul id="nav-links">
    <li class="nav-link"><a href="./index.html">Home</a></li>
    <hr class="list" />
    <li class="nav-link"><a href="./newuser.html">My Program</a></li>         
    <hr class="list"/>
    <li class="nav-link"><a href="#">Featured</a></li>
    <hr class="list"/>
    <li class="nav-link"><a href="#">Categories</a></li>
  </ul>     
 </div>

 <!-- Entire Center Display-->
<div id="allProjects">

</div> 


</body>

<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script> <!-- JQuery-->

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity= "sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> <!-- Bootstrap JS Library-->

</html>


